/* Created by: Ms Raffin
 * Created on: March 2022
 * This CSS file defines the style for index.php
 */

form {
  background-color: #d5f2fe;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
}

h1 {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #dbfdea;
  text-align: center;
  padding: 20px;
}

h3 {
  width: 80%;
  margin-left: 10%;
}

p {
  width: 80%;
  margin-left: 10%;
}

iframe {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 5%;
  background-color: #e7d0e5;
}

#yellow {
  background-color: #a6aff2;
  padding: 20px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
}